In [1]:
p=[0,1,2,3,5,7] 
h =int(input())  
b=[]
for i in str(h): 
    if int(i) not in p:  
        b.append(int(i)) 
print(sum(b))

49673
19

In [10]:
a=input().split() 
len(a[-1])

i am genious developer

9

In [13]:
a = input()  
d=[]
for i in a: 
    if int(i)%2==0: 
        d.append(int(i))
print(sum(d))

25834
14

In [15]:
a=input().split()  
s=[]
for i in a: 
    s.append(int(i))
f=sorted(s)[1]
b=sorted(s)[::-1][1]
su=f+b
print(su)

2 6 4 3 8 5 8
11

In [13]:
f

2

In [18]:
n=5
i=1
while i<n:
    print(i,end=" ")
    i=i+1

1 2 3 4

In [27]:
a=[]
sum=0
for x in range(1,10):
    sum=sum+x
    print(sum,end=" ")

1 3 6 10 15 21 28 36 45

In [29]:
sum=0
for x in range(0,10,3):
    sum=sum+x
    print(x)

0
3
6
9

In [33]:
a=int(input("enter number: "))
c=[]
for x in range(a):
    b=int(input("enter value:"))
    c.append(b)
for y in c:
    print(y*2,end=" ")

enter number: 4
enter value:1
enter value:2
enter value:3
enter value:4
2 4 6 8

In [40]:
a=[1,4,10,19,34,52,73,100]
b=[]
n=int(input())
for x in a:
    if x<=n:
        b.append(x)
        
print(sum(b))

105
293

In [32]:
n=int(input())
sum=1
a=[1]
for x in range(0,n,3):
    if x%12==0:
        continue
    sum=sum+x
    a.append(sum)
print(a)
print(n)

105
[1, 4, 10, 19, 34, 52, 73, 100, 130, 163, 202, 244, 289, 340, 394, 451, 514, 580, 649, 724, 802, 883, 970, 1060, 1153, 1252, 1354]
105

In [27]:
s="qA2"
count=0
for x in s:
    if x.isalnum():
        count=count+1
if count>0:
    print("True")
else:
    print("False")
count=0
for x in s:
    if x.isalpha():
        count=count+1
if count>0:
    print("True")
else:
    print("False")
count=0
for x in s:
    if x.isdigit():
        count=count+1
if count>0:
    print("True")
else:
    print("False")
count=0
for x in s:
    if x.islower():
        count=count+1
if count>0:
    print("True")
else:
    print("False")
count=0
for x in s:
    if x.isupper():
        count=count+1
if count>0:
    print("True")
else:
    print("False")

True
True
True
True
True

In [38]:
width=20
print("manoj".rjust(width,"-"))

---------------manoj

In [62]:
s="qA2"
a=any(l.isalnum() for l in s)
b=any(l.isalpha() for l in s)
c=any(l.isdigit() for l in s)
d=any(l.islower() for l in s)
e=any(l.isupper() for l in s)
print(a)
print(b)
print(c)
print(d)
print(e)

True
True
True
True
True

In [64]:
a=input("enter the old password: ")
b=a.swapcase()
print(b)

enter the old password: bow AND arrow
BOW and ARROW

In [71]:
text="hello, world"
print(text[0:5])
print(text[0:7])
print(text[8:9])
print(text[5:11])

hello
hello,
o
, worl

In [78]:
a="manoj"
b="kumar"
print("manoj {} {}".format(a,b))

manoj manoj kumar

In [82]:
a="hii i am manoj"
print(a.split(" "))

['hii i', ' am manoj']

In [86]:
dash="*"
a=["a","b","c"]
n=dash.join(a)
print(n)

a*b*c

In [91]:
a="hii manoj how are you"
a=a.split(" ")
print(type(a))
j=" + ".join(a)
print(j)

<class 'list'>
hii + manoj + how + are + you

In [97]:
a="hii manoj how are you"
print(a.capitalize())
print(a.title())
print(a.lower())
print(a.upper())

Hii manoj how are you
Hii Manoj How Are You
hii manoj how are you
HII MANOJ HOW ARE YOU

In [106]:
print(a.center(50))
print(a.ljust(50))
print(a.rjust(10))

              hii manoj how are you
hii manoj how are you
hii manoj how are you

In [109]:
a=True
b=False
print(
print(b)

<class 'bool'>
False

In [2]:
n=2
Cuckoo=[]
a=1*Cuckoo[n-1]+2*Cuckoo[n-2]+3*1
Cuckoo.append(a)
print(Cuckoo)

IndexError: list index out of range

In [2]:
a=[0,1,2,3,4,5]
n=int(input())
print(a[n-1])

4
3

In [62]:
import random
a=["manoj","akhil","arjun"]
c=random.choice(a)
print(c+" is qualified gate exam")

akhil is qualified gate exam

In [9]:
n=int(input())
if n%2==0 or n%7==0 or n%11==0 or n%9==0:
    print("number is divisible by 2,7,11 and 9 : ")
else:
    print("your number is not divisible by 2,7,11 and 9")

77
number is divisible by 2,7,11 and 9 :

In [12]:
a=int(input("enter the number: "))
for x in range(1,100000):
    if a%x==0:
        print(a,"is multiple by",x)

enter the number: 99888
99888 is multiple by 1
99888 is multiple by 2
99888 is multiple by 3
99888 is multiple by 4
99888 is multiple by 6
99888 is multiple by 8
99888 is multiple by 12
99888 is multiple by 16
99888 is multiple by 24
99888 is multiple by 48
99888 is multiple by 2081
99888 is multiple by 4162
99888 is multiple by 6243
99888 is multiple by 8324
99888 is multiple by 12486
99888 is multiple by 16648
99888 is multiple by 24972
99888 is multiple by 33296
99888 is multiple by 49944
99888 is multiple by 99888

In [13]:
import numpy as np

OSError: [WinError 193] %1 is not a valid Win32 application

In [24]:
n=input("enter the letter: ")
c=ord(n)
print(chr(c-1),chr(c),chr(c+1))

enter the letter: h
g h i

In [53]:
x=['q','w','e','r','t','y','u','i','o','p']
y=['a','s','d','f','g','h','j','k','l']
z=['z','x','c','v','b','n','m']
c=input("Enter the character: ")
b=a.index(c)
if c in x:
    print(a[b+1],a[b],a[b-1])
elif c in y:
    print(a[b-1],a[b],a[b+1])
elif c in z:
    print(a[b+1],a[b],a[b-1])
#b=a.index(c)
#print(a[b-1],a[b],a[b+1])

Enter the character: u
i u y

In [76]:
import datetime
n=int(input("enter the number:"))
x=datetime.datetime.now()
h=x.hour
m=x.minute
print(h-12+m+n)

enter the number:8
31

In [81]:
a=[]
n=3
for x in range(n):
    b=int(input("enter the number:"))
    a.append(b)
print(a[0]+a[1],a[1],a[1]+a[2])

enter the number:1
enter the number:2
enter the number:3
3 2 5

In [9]:
a=[]
n=int(input("how many numbers you want:"))
for x in range(n):
    b=int(input("enter the number:"))
    a.append(b)

b=set(a)
d={
    
}
for x in b:
    c=a.count(x)
    d.update({x:c})
print(d)
m=max(d.values())
k=list(d.keys())
v=list(d.values())
i=v.index(m)
#print(k[i])
for s in v:
    if s==m:
        print(v.index(s))

how many numbers you want:4
enter the number:1
enter the number:1
enter the number:2
enter the number:2
{1: 2, 2: 2}
0
0

AttributeError: 'list' object has no attribute 'find'

In [4]:
a=input("enter the string: ")
b=a.split()
c=[]
for x in b:
    sum=0
    for y in x:
        if y=="a" or y=="A":
            sum=sum+1
        elif y=="e" or y=="E":
            sum=sum+1
        elif y=="i" or y=="I":
            sum=sum+1
        elif y=="o" or y=="O":
            sum=sum+1
        elif y=="u" or y=="U":
            sum=sum+1
    c.append(sum)
print(max(c))

enter the string: Akhil is a excellent guy
3

In [44]:
import numpy as np

In [ ]:
j=int(input("enter the number:"))
for x in range(3):
    print(j,"* ",x,"=",x*j)

In [1]:
import pandas as pd

In [102]:
df = pd.util.testing.makeTimeDataFrame()

In [103]:
df.head()

                   A         B         C         D
2000-01-03 -0.746221  0.442670 -0.016407  1.289697
2000-01-04 -0.046212  0.409432 -0.386183  0.547719
2000-01-05 -0.337800  0.486744 -0.193007 -0.482822
2000-01-06  0.272708  2.097340  1.914410 -1.215688
2000-01-07  0.690289 -0.036173 -0.050871 -0.747599

In [107]:
df["index"] = df.index 
df.reset_index()

                   A         B         C         D      index
2000-01-03 -0.746221  0.442670 -0.016407  1.289697 2000-01-03
2000-01-04 -0.046212  0.409432 -0.386183  0.547719 2000-01-04
2000-01-05 -0.337800  0.486744 -0.193007 -0.482822 2000-01-05
2000-01-06  0.272708  2.097340  1.914410 -1.215688 2000-01-06
2000-01-07  0.690289 -0.036173 -0.050871 -0.747599 2000-01-07
2000-01-10 -0.372784 -0.451191  0.346885  1.281435 2000-01-10
2000-01-11 -0.515505  0.304415  1.240793 -2.004530 2000-01-11
2000-01-12  0.781119  0.090321  0.094249  0.209716 2000-01-12
2000-01-13 -1.634889 -0.240419  2.018999  0.430276 2000-01-13
2000-01-14  0.550169  1.226896  1.157950  0.531809 2000-01-14
2000-01-17  0.420333 -1.003432 -0.325250 -1.200947 2000-01-17
2000-01-18  0.239688  0.441827 -2.141431 -0.240556 2000-01-18
2000-01-19 -1.544787  0.987493 -0.499188  0.114945 2000-01-19
2000-01-20 -0.041546  1.236812 -0.061780 -0.854016 2000-01-20
2000-01-21  0.952849 -0.548165  0.134770  1.259920 2000-01-21
2000-01-24 -0.701707 -0.030932  0.757544 -1.267244 2000-01-24
2000-01-25 -1.760974  0.281307  0.485849 -0.659747 2000-01-25
2000-01-26  0.428301  0.277490 -0.140550 -0.697650 2000-01-26
2000-01-27 -0.543018 -2.312209  2.545372  0.819162 2000-01-27
2000-01-28 -2.157501 -1.532951  0.320077 -1.201952 2000-01-28
2000-01-31  0.965970 -0.297216  1.195755  0.382808 2000-01-31
2000-02-01  0.525472  0.748442 -1.287517 -0.385890 2000-02-01
2000-02-02 -0.096990 -0.057766  0.496898 -0.417062 2000-02-02
2000-02-03  0.637410 -0.623054  0.009831  0.134716 2000-02-03
2000-02-04  0.406096  1.244871 -0.095433  0.691127 2000-02-04
2000-02-07  0.013000  1.442664 -1.043835 -1.186056 2000-02-07
2000-02-08 -0.776109 -0.750663 -0.930461 -0.788766 2000-02-08
2000-02-09 -0.422114  0.614830 -0.973808  0.236969 2000-02-09
2000-02-10 -0.913963 -0.542636  0.875911  0.319806 2000-02-10
2000-02-11 -1.137499 -0.043941 -0.249920 -0.518393 2000-02-11

In [100]:
df.head().dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [101]:
df["index"].dt.day

KeyError: 'index'

In [85]:
df['index']=df['index'].apply(str)
df['k']=df['index'].apply(lambda x:x.split()[0])
df['index']=df['k'].apply(lambda x:x.split('-')[-1])

In [83]:
df.head()

                   A         B         C         D
2000-01-03 -0.648544 -0.174526 -2.086605  0.588211
2000-01-04 -0.073938  1.950227  1.757551 -0.810794
2000-01-05 -0.120952  0.798423 -0.693337 -0.514379
2000-01-06 -0.024297 -1.380297  0.953976  2.844237
2000-01-07  1.599194  0.555643 -1.055263 -0.080778

In [86]:
df.head()

  index         A         B         C         D           k
0    03 -0.648544 -0.174526 -2.086605  0.588211  2000-01-03
1    04 -0.073938  1.950227  1.757551 -0.810794  2000-01-04
2    05 -0.120952  0.798423 -0.693337 -0.514379  2000-01-05
3    06 -0.024297 -1.380297  0.953976  2.844237  2000-01-06
4    07  1.599194  0.555643 -1.055263 -0.080778  2000-01-07