In [33]:
import pandas as pd
import numpy as np

In [50]:
d={
    0.40:0.53,
    0.22:0.38,
    0.35:0.32,
    0.26:0.19,
    0.08:0.41,
    0.45:0.30
}

In [51]:
x=list(d.keys())
x

[0.4, 0.22, 0.35, 0.26, 0.08, 0.45]

In [52]:
y=list(d.values())
y

[0.53, 0.38, 0.32, 0.19, 0.41, 0.3]

In [53]:
k=[]
for i in x:
    for j in x:
        s=(i-j)**2
        k.append(round(s,3))
print(k)

[0.0, 0.032, 0.003, 0.02, 0.102, 0.002, 0.032, 0.0, 0.017, 0.002, 0.02, 0.053, 0.003, 0.017, 0.0, 0.008, 0.073, 0.01, 0.02, 0.002, 0.008, 0.0, 0.032, 0.036, 0.102, 0.02, 0.073, 0.032, 0.0, 0.137, 0.002, 0.053, 0.01, 0.036, 0.137, 0.0]

In [54]:
b=[]
for i in y:
    for j in y:
        c=(i-j)**2
        b.append(round(c,3))
print(b)

[0.0, 0.023, 0.044, 0.116, 0.014, 0.053, 0.023, 0.0, 0.004, 0.036, 0.001, 0.006, 0.044, 0.004, 0.0, 0.017, 0.008, 0.0, 0.116, 0.036, 0.017, 0.0, 0.048, 0.012, 0.014, 0.001, 0.008, 0.048, 0.0, 0.012, 0.053, 0.006, 0.0, 0.012, 0.012, 0.0]

In [55]:
import math

In [56]:
ans=[]
for h in range(len(b)):
    l=math.sqrt((k[h])+(b[h]))
    ans.append(round(l,3))
print(ans)

[0.0, 0.235, 0.217, 0.369, 0.341, 0.235, 0.235, 0.0, 0.145, 0.195, 0.145, 0.243, 0.217, 0.145, 0.0, 0.158, 0.285, 0.1, 0.369, 0.195, 0.158, 0.0, 0.283, 0.219, 0.341, 0.145, 0.285, 0.283, 0.0, 0.386, 0.235, 0.243, 0.1, 0.219, 0.386, 0.0]

In [59]:
n=np.array(ans)
o=n.reshape(6,6)
df=pd.DataFrame(o,index=['p1','p2','p3','p4','p5','p6'],columns=['p1','p2','p3','p4','p5','p6'])
df

       p1     p2     p3     p4     p5     p6
p1  0.000  0.235  0.217  0.369  0.341  0.235
p2  0.235  0.000  0.145  0.195  0.145  0.243
p3  0.217  0.145  0.000  0.158  0.285  0.100
p4  0.369  0.195  0.158  0.000  0.283  0.219
p5  0.341  0.145  0.285  0.283  0.000  0.386
p6  0.235  0.243  0.100  0.219  0.386  0.000

In [68]:
df.to_csv('teja.csv')

In [61]:
import os

In [63]:
os.getcwd()

'C:\\Users\\manoj'

In [66]:
os.chdir(r"C:\Users\manoj\Desktop\jupyter")

In [67]:
pwd

'C:\\Users\\manoj\\Desktop\\jupyter'

In [69]:
pwd

'C:\\Users\\manoj\\Desktop\\jupyter'